<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.mikaelzero.mojito">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="net.mikaelzero.mojito.ui.ImageMojitoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Transparent"/>
    </application>

</manifest>
